# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.HtmlCssToImage.Net.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Raphael\Documents\Programming\HtmlCssToImage.Net\.idea\.idea.HtmlCssToImage.Net\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
